<template>
  <v-layout column>
    <v-layout
            row
            justify-center
    >
      <v-flex xs2>
        <v-text-field
                label="Filter by"
                v-model="filter"
        ></v-text-field>
      </v-flex>
      <v-flex xs1>
        <v-select
                :items="['name', 'email']"
                v-model="filterBy"
        ></v-select>
      </v-flex>
    </v-layout>
    <v-layout
            justify-center
            row
    >
      <router-link
              v-for="user in users"
              :key="user.id"
              :to="{ name: 'user-page', params: { id: user.id } }"
      >
        <v-card
                class="ma-5"
                :width="320"
        >
          <v-list-item class="pa-2 justify-content" >
            <v-list-item-avatar
                    v-if="user.avatar"
                    class="ml-2 mr-1"
            >
              <v-img :src="user.avatar"></v-img>
            </v-list-item-avatar>
            <v-list-item-avatar
                    v-else
                    color="grey"
                    class="mx-2"
            >
              <span class="white--text headline">{{ user.name[0].toUpperCase() }}</span>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title>{{ user.name }}</v-list-item-title>
              <v-list-item-title>{{ user.email }}</v-list-item-title>
            </v-list-item-content>
            <v-list-item-action>
              <router-link :to="{ name: 'user-edit', params: { id: user.id } }">
                <v-btn icon>
                  <v-icon>mdi-account-edit</v-icon>
                </v-btn>
              </router-link>
            </v-list-item-action>
          </v-list-item>
        </v-card>
      </router-link>
    </v-layout>
  </v-layout>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';

  export default {
    name: "UsersContainer",

    async created() {
      try {
        await this.fetchUsers();
      } catch (e) {
        console.log(e)
      }
    },

    data: () => {
      return {
        filter: '',
        filterBy: 'name'
      }
    },

    computed: {
      ...mapGetters('user', [
        'getFilteredUsers'
      ]),

      users() {
        return this.getFilteredUsers(this.filter, this.filterBy)
      }
    },

    methods: {
      ...mapActions('user', [
        'fetchUsers'
      ])
    }
  }
</script>

<style scoped>

</style>