<template>
  <v-card pa-4>
    <v-card-title>Edit user</v-card-title>
    <v-card-text>
      <v-form
              ref="form"
      >
        <v-text-field
                v-model="user.name"
                :counter="10"
                label="Name"
                required
        ></v-text-field>

        <v-text-field
                v-model="user.email"
                label="E-mail"
                required
        ></v-text-field>

        <v-text-field
                label="Avatar url"
                v-model="user.avatar"
        >

        </v-text-field>
        <v-btn
                color="success"
                @click="updateUser(user)"
                :disabled="disabled"
        >
          Update
        </v-btn>
      </v-form>
    </v-card-text>
  </v-card>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';
  export default {
    name: "UserEdit",

    async created() {
      try {
        await this.fetchUserById(this.$route.params.id);
      } catch (e) {
        console.log(e)
      }
    },

    computed: {
      ...mapGetters('user', [
        'getUserById'
      ]),

      user() {
        return this.getUserById(this.$route.params.id);
      },

      disabled: function() {
        return !this.user.name || !this.user.email;
      }
    },

    methods: {
      ...mapActions('user', [
        'fetchUserById',
        'updateUser'
      ])
    }
  }
</script>

<style scoped>

</style>