<template>
  <v-toolbar max-height="64px">
    <v-spacer></v-spacer>
    <v-toolbar-items>
      <router-link
              class="v-btn v-btn--flat v-btn--text theme--light v-size--default"
              :to="{ name: 'users' }"
      >
        Users
      </router-link>
      <v-btn text>Albums</v-btn>
    </v-toolbar-items>
  </v-toolbar>
</template>

<script>
  export default {
    name: "Navbar"
  }
</script>

<style scoped>

</style>