<template>
  <v-app>
    <navbar></navbar>
    <v-content>
      <v-container fluid>
        <router-view
                transition="fade-transition"
                class="container"
        />
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import Navbar from '@/components/Navbar';

export default {
  name: 'App',
  components: {
    Navbar,
  }
};
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

* {
  font-family: Nunito, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}
  
a {
  text-decoration: none;
}
</style>
